@model IEnumerable<KurumsalWebProj.Models.Classes.Hakkimizda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered table-striped table-responsive-sm ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Aciklama)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.HakkimizdaId })
           
        </td>
    </tr>
}

</table>
